<%- include('includes/head.ejs') %>


</head>
<script src="/javascripts/common.js"></script>
<body  class="container">
<%- include('includes/nav.ejs') %>

<h1>Followers Page</h1>

<% if (!!data.customer) { %>
    <% if (!!data.followers) { %>

    <% if (!!data.users) { 
        let count =0; %>
        <br>
        <br>
        <% data.users.forEach(function(cust) { 


        if (count==0 || count/3==0) {%>
            <div class="row">
        <%
        }
        %>

    <div class="column-lg-4 center">
        <div>
        <img src="data:image/<%=cust.profilepic.contentType%>;base64,
                     <%=cust.profilepic.imgdata.toString('base64')%>" width="300" height="250">
        <div>
            <p><%= cust.firstname %></p>
            <p><%= cust.lastname %></p>


            <button class="btn btn-secondary" onClick="unFollow('<%= data.customer._id %>','<%= cust._id %>')" >UnFollow </button>



        </div>
        </div>
    </div>
        <%
        if (count==3 || count/3-count==2) {%>
        </div>

        <%
        }
        count=count+1;
        %>







    <% })
    }
    } else {
    %>

    <p>No Followers found</p>
<%}
    }
    %>




</body>
</html>
