<%- include('includes/head.ejs') %>

  </head>
<script type="text/javascript" src="/javascripts/common.js"></script>
  <body class="container">
  <%- include('includes/nav.ejs') %>
    <h1>Welcome to Pixogram application</h1>
  <p><%= data.token %></p>
    <% if (data.isAuthenticated) { %>
  <% /*if (!!data.customer) { */%>
  <div>
      <img src="data:image/<%=data.customer.profilepic.contentType%>;base64,
                     <%=data.customer.profilepic.imgdata.toString('base64')%>" width="300" height="250">
      <div>
        <p><%= data.customer.firstname %></p>
        <p><%= data.customer.lastname %></p>




         <div>
              <p><b id='result'></b></p>
          </div>







      </div>
    </div>

  <%
  }
  %>
   </body>







</html>
