<%- include('includes/head.ejs') %>

</head>

<script type="text/javascript">
    function validateDetails()
    {
        return true;

    }

</script>
<script type="text/javascript" src="/javascripts/common.js"></script>
<body class="container">
<%- include('includes/nav.ejs') %>
<h1> My Media</h1>
<% if (!!data.media) { 
%>
    
    <% data.media.forEach(function(med) { %>

    <div class="row center">

        <div class="col-md-4">
        <img src="data:image/<%=med.media.contentType%>;base64,
                     <%=med.media.imgdata.toString('base64')%>" width="300" height="250">
        </div>
        <div class="col-md-6">
        <h3>Media Title : </h3><p><%= med.mediatitle %></p>
        <h3>Media Description: </h3><p><%= med.description %>
        <br>
        <h3>Comments </h3>

        <% if (!!data.comments) { 
            let medMap=data.comments;
            let medcomments=medMap.get(med._id);
            console.log("Inside med comments block");
            console.log(medcomments);
            if (!!medcomments && medcomments.length>0) {

            %>


            <% medcomments.forEach(function(comment) { %>
                    <% comment.forEach(function(medcom) { %>

            <textarea readOnly name="comments" id="comments" style="font-family:sans-serif;font-size:1.2em;">
            <%= medcom.comments %>
            </textarea><br>
            <%
            })
            })
        }}
        %>
        <form action="/media/add-comments"  method="POST">
           Add Comment <input type="text" name="comment" />
            <input type="hidden" class="form-control" id="username" name="username" value="<%= data.customer._id %>" required="true" placeholder="Username"/>
            <input type="hidden" class="form-control" id="mediaId" name="mediaId" value="<%= med._id %>" required="true" placeholder="Username"/>
            <input class="btn btn-primary" type="submit" />
        </form>

        <button class="btn btn-secondary" onClick="deleteMedia('<%= data.customer._id %>','<%= med._id %>')">Delete Media </button>




        </div>
    </div>

<% })
}else {
    %>

    <p>No Media found</p>
<%}
%>




</body>








</html>
